<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_jindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{699,30}</string>
                <key>spriteSourceSize</key>
                <string>{713,42}</string>
                <key>textureRect</key>
                <string>{{263,841},{699,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jinengyijiesuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{626,174}</string>
                <key>spriteSourceSize</key>
                <string>{632,184}</string>
                <key>textureRect</key>
                <string>{{973,1},{626,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shijian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{779,60}</string>
                <key>spriteSourceSize</key>
                <string>{787,60}</string>
                <key>textureRect</key>
                <string>{{919,597},{779,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shujudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{221,46}</string>
                <key>spriteSourceSize</key>
                <string>{225,60}</string>
                <key>textureRect</key>
                <string>{{747,1},{221,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tongguangchenggong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{768,180}</string>
                <key>spriteSourceSize</key>
                <string>{768,186}</string>
                <key>textureRect</key>
                <string>{{919,659},{768,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tuichuanniudixiafaguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{343,90}</string>
                <key>spriteSourceSize</key>
                <string>{399,96}</string>
                <key>textureRect</key>
                <string>{{919,489},{343,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_weijiesuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{606,174}</string>
                <key>spriteSourceSize</key>
                <string>{618,184}</string>
                <key>textureRect</key>
                <string>{{973,177},{606,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{170,220}</string>
                <key>spriteSourceSize</key>
                <string>{176,232}</string>
                <key>textureRect</key>
                <string>{{747,597},{170,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{260,882}</string>
                <key>spriteSourceSize</key>
                <string>{268,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{260,882}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuli2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{240,838}</string>
                <key>spriteSourceSize</key>
                <string>{268,900}</string>
                <key>textureRect</key>
                <string>{{263,1},{240,838}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuli3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{240,838}</string>
                <key>spriteSourceSize</key>
                <string>{268,900}</string>
                <key>textureRect</key>
                <string>{{505,1},{240,838}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_cheliangxuanze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{372,124}</string>
                <key>spriteSourceSize</key>
                <string>{390,136}</string>
                <key>textureRect</key>
                <string>{{1,885},{372,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chouquchelianganniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{596,134}</string>
                <key>spriteSourceSize</key>
                <string>{606,146}</string>
                <key>textureRect</key>
                <string>{{375,873},{596,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chouquxinche.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{372,124}</string>
                <key>spriteSourceSize</key>
                <string>{380,142}</string>
                <key>textureRect</key>
                <string>{{973,841},{372,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{212,124}</string>
                <key>spriteSourceSize</key>
                <string>{226,128}</string>
                <key>textureRect</key>
                <string>{{747,49},{212,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fanhuid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{170,98}</string>
                <key>spriteSourceSize</key>
                <string>{174,102}</string>
                <key>textureRect</key>
                <string>{{747,489},{170,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_jineng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,124}</string>
                <key>spriteSourceSize</key>
                <string>{224,142}</string>
                <key>textureRect</key>
                <string>{{747,175},{212,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_kaishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,134}</string>
                <key>spriteSourceSize</key>
                <string>{600,142}</string>
                <key>textureRect</key>
                <string>{{973,353},{590,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_shengjianniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{170,168}</string>
                <key>textureRect</key>
                <string>{{1565,439},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_xiayiguan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{372,124}</string>
                <key>spriteSourceSize</key>
                <string>{378,128}</string>
                <key>textureRect</key>
                <string>{{1347,841},{372,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_huode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{169,82}</string>
                <key>spriteSourceSize</key>
                <string>{171,90}</string>
                <key>textureRect</key>
                <string>{{747,301},{169,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_pingfen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{161,82}</string>
                <key>spriteSourceSize</key>
                <string>{171,90}</string>
                <key>textureRect</key>
                <string>{{1565,355},{161,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_huojina.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{170,168}</string>
                <key>textureRect</key>
                <string>{{1581,199},{142,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,65}</string>
                <key>spriteSourceSize</key>
                <string>{62,67}</string>
                <key>textureRect</key>
                <string>{{1601,132},{58,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_shengjijiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{1672,55},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xingxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{1672,1},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zuanshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,60}</string>
                <key>spriteSourceSize</key>
                <string>{67,60}</string>
                <key>textureRect</key>
                <string>{{1601,70},{67,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{1601,1},{69,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,72}</string>
                <key>spriteSourceSize</key>
                <string>{286,72}</string>
                <key>textureRect</key>
                <string>{{1264,489},{276,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_ui.png</string>
            <key>size</key>
            <string>{1727,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36a3462aa2520e8460021363fd392d6d:71db10415ff2ffd817d863458d0403d6:af10a591ab18754b01ed9e207f0ecf29$</string>
            <key>textureFileName</key>
            <string>main_ui.png</string>
        </dict>
    </dict>
</plist>
