<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{221,192}</string>
                <key>spriteSourceSize</key>
                <string>{241,200}</string>
                <key>textureRect</key>
                <string>{{1,885},{221,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{223,180}</string>
                <key>spriteSourceSize</key>
                <string>{241,200}</string>
                <key>textureRect</key>
                <string>{{224,967},{223,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{221,192}</string>
                <key>spriteSourceSize</key>
                <string>{241,200}</string>
                <key>textureRect</key>
                <string>{{1736,253},{221,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{215,180}</string>
                <key>spriteSourceSize</key>
                <string>{241,200}</string>
                <key>textureRect</key>
                <string>{{1732,447},{215,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{221,178}</string>
                <key>spriteSourceSize</key>
                <string>{241,200}</string>
                <key>textureRect</key>
                <string>{{1347,435},{221,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{215,180}</string>
                <key>spriteSourceSize</key>
                <string>{241,200}</string>
                <key>textureRect</key>
                <string>{{1331,809},{215,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{221,192}</string>
                <key>spriteSourceSize</key>
                <string>{241,200}</string>
                <key>textureRect</key>
                <string>{{1337,615},{221,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{215,180}</string>
                <key>spriteSourceSize</key>
                <string>{241,200}</string>
                <key>textureRect</key>
                <string>{{1560,629},{215,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{223,180}</string>
                <key>spriteSourceSize</key>
                <string>{241,200}</string>
                <key>textureRect</key>
                <string>{{1511,253},{223,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,150}</string>
                <key>textureRect</key>
                <string>{{1515,991},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{126,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,150}</string>
                <key>textureRect</key>
                <string>{{1878,851},{126,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{142,150}</string>
                <key>textureRect</key>
                <string>{{1877,993},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jindutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{699,30}</string>
                <key>spriteSourceSize</key>
                <string>{713,42}</string>
                <key>textureRect</key>
                <string>{{629,869},{699,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jinengyijiesuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{626,174}</string>
                <key>spriteSourceSize</key>
                <string>{632,184}</string>
                <key>textureRect</key>
                <string>{{739,245},{626,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shijian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{779,60}</string>
                <key>spriteSourceSize</key>
                <string>{787,60}</string>
                <key>textureRect</key>
                <string>{{739,183},{779,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shujudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{221,46}</string>
                <key>spriteSourceSize</key>
                <string>{225,60}</string>
                <key>textureRect</key>
                <string>{{1,1079},{221,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tongguangchenggong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{768,180}</string>
                <key>spriteSourceSize</key>
                <string>{768,186}</string>
                <key>textureRect</key>
                <string>{{739,1},{768,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tuichuanniudixiafaguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{343,90}</string>
                <key>spriteSourceSize</key>
                <string>{399,96}</string>
                <key>textureRect</key>
                <string>{{629,901},{343,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_weijiesuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{606,174}</string>
                <key>spriteSourceSize</key>
                <string>{618,184}</string>
                <key>textureRect</key>
                <string>{{739,421},{606,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{170,220}</string>
                <key>spriteSourceSize</key>
                <string>{176,232}</string>
                <key>textureRect</key>
                <string>{{1777,629},{170,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{252,882}</string>
                <key>spriteSourceSize</key>
                <string>{268,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,882}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuli2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{240,838}</string>
                <key>spriteSourceSize</key>
                <string>{268,900}</string>
                <key>textureRect</key>
                <string>{{255,1},{240,838}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuli3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{240,838}</string>
                <key>spriteSourceSize</key>
                <string>{268,900}</string>
                <key>textureRect</key>
                <string>{{497,1},{240,838}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_cheliangxuanze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{372,124}</string>
                <key>spriteSourceSize</key>
                <string>{390,136}</string>
                <key>textureRect</key>
                <string>{{1509,1},{372,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chouquchelianganniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{596,134}</string>
                <key>spriteSourceSize</key>
                <string>{606,146}</string>
                <key>textureRect</key>
                <string>{{739,597},{596,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_chouquxinche.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{372,124}</string>
                <key>spriteSourceSize</key>
                <string>{380,142}</string>
                <key>textureRect</key>
                <string>{{1520,127},{372,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{212,124}</string>
                <key>spriteSourceSize</key>
                <string>{226,128}</string>
                <key>textureRect</key>
                <string>{{629,993},{212,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_fanhuid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{170,98}</string>
                <key>spriteSourceSize</key>
                <string>{174,102}</string>
                <key>textureRect</key>
                <string>{{1706,851},{170,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_genghuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{178,134}</string>
                <key>spriteSourceSize</key>
                <string>{194,148}</string>
                <key>textureRect</key>
                <string>{{449,967},{178,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_jineng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,124}</string>
                <key>spriteSourceSize</key>
                <string>{224,142}</string>
                <key>textureRect</key>
                <string>{{843,993},{212,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_kaishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,134}</string>
                <key>spriteSourceSize</key>
                <string>{600,142}</string>
                <key>textureRect</key>
                <string>{{739,733},{590,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_shengjianniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{170,168}</string>
                <key>textureRect</key>
                <string>{{1548,811},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bt_xiayiguan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{372,124}</string>
                <key>spriteSourceSize</key>
                <string>{378,128}</string>
                <key>textureRect</key>
                <string>{{255,841},{372,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_huode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{169,82}</string>
                <key>spriteSourceSize</key>
                <string>{171,90}</string>
                <key>textureRect</key>
                <string>{{1706,951},{169,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_pingfen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{161,82}</string>
                <key>spriteSourceSize</key>
                <string>{171,90}</string>
                <key>textureRect</key>
                <string>{{1613,1035},{161,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_baoji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{166,154}</string>
                <key>spriteSourceSize</key>
                <string>{170,168}</string>
                <key>textureRect</key>
                <string>{{1057,977},{166,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,65}</string>
                <key>spriteSourceSize</key>
                <string>{62,67}</string>
                <key>textureRect</key>
                <string>{{1894,149},{58,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pohuai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{136,146}</string>
                <key>spriteSourceSize</key>
                <string>{170,168}</string>
                <key>textureRect</key>
                <string>{{1894,1},{136,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_qiangxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{142,154}</string>
                <key>spriteSourceSize</key>
                <string>{170,168}</string>
                <key>textureRect</key>
                <string>{{1367,245},{142,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_shengjijiantou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,68}</string>
                <key>textureRect</key>
                <string>{{1949,655},{44,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sudu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,146}</string>
                <key>spriteSourceSize</key>
                <string>{170,168}</string>
                <key>textureRect</key>
                <string>{{1371,991},{142,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_wushuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{160,158}</string>
                <key>spriteSourceSize</key>
                <string>{170,168}</string>
                <key>textureRect</key>
                <string>{{1570,435},{160,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xingxing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{1949,601},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xinyun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{144,148}</string>
                <key>spriteSourceSize</key>
                <string>{170,168}</string>
                <key>textureRect</key>
                <string>{{1225,991},{144,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zuanshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,60}</string>
                <key>spriteSourceSize</key>
                <string>{67,60}</string>
                <key>textureRect</key>
                <string>{{1776,1035},{67,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{1254,901},{69,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xingxingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{278,74}</string>
                <key>spriteSourceSize</key>
                <string>{286,76}</string>
                <key>textureRect</key>
                <string>{{974,901},{278,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuetiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{36,450}</string>
                <key>spriteSourceSize</key>
                <string>{46,462}</string>
                <key>textureRect</key>
                <string>{{1959,149},{36,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_ui.png</string>
            <key>size</key>
            <string>{2031,1148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:103988069d2fa2a83e1932a358b7fed9:2e7ec0ac3f92ea126b219489413983b4:af10a591ab18754b01ed9e207f0ecf29$</string>
            <key>textureFileName</key>
            <string>main_ui.png</string>
        </dict>
    </dict>
</plist>
